/* Style the list */
.breadcrumb{
  padding: 3px 3px;
  list-style: none;
  background: lightgray;
}

/* Display list items side by side */
.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
  padding: 8px;
  line-height: 1em;
  color: black;
  content: ">";
}

/* Add a color to all links inside the list */
.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

